.header-container {
	/* display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: black;
	margin-left: 1000px; */
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 48px;
	/* background-color: bisque; */
	padding: 0 15px;
}
.header-button-hover {
	height: 100%;
	/* margin: 0 20px 0 0; */
	cursor: pointer;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.header-button-hover:hover {
	background-color: rgb(228, 228, 214);
}
.header-avatar {
	border: 1px solid rgb(206, 203, 203);
}
