.login-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	/* background-color: #f0efef; */
	background: rgb(34, 193, 195);
	background: linear-gradient(
		233deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(130, 190, 129, 1) 41%,
		rgba(45, 122, 253, 0.8435749299719888) 100%
	);
}
.login-card-box {
	width: 400px;
	/* text-align: center; */
}
.login-form-button {
	width: 100%;
}
